/* Importar Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir fuentes personalizadas */
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikProTRIAL-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikProTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikProTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Definir colores de root */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Utilidad personalizada */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Clase personalizada para zoom de imagen */
  .image-zoom {
    @apply relative w-32 h-32 rounded-full mx-auto mb-4 shadow-lg overflow-hidden;
  }

  .image-zoom img {
    @apply object-cover object-top transform scale-150; /* Ajusta el valor de scale para hacer más o menos zoom */
  }

  /* Estilos personalizados para el selector de idiomas */
  .language-selector-button {
    @apply flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600;
  }

  .language-selector-dropdown {
    @apply z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700;
  }

  .language-selector-option {
    @apply inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white;
  }

  .language-selector-option div {
    @apply inline-flex items-center;
  }

  .language-selector-flag {
    @apply h-3.5 w-3.5 rounded-full me-2;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 3s ease-in-out;
}
  
  .form-container {
    background: white;
    border-radius: 1em;
    padding: 2rem;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .form-container:hover {
    transform: translateY(-5%);
    box-shadow: 0px 10px 25px rgba(43, 8, 37, 0.3);
  }
}
