/* Importar Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir fuentes personalizadas */
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikProTRIAL-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikProTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikProTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Definir colores de root */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Utilidad personalizada */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Clase personalizada para zoom de imagen */
  .image-zoom {
    @apply relative w-32 h-32 rounded-full mx-auto mb-4 shadow-lg overflow-hidden;
  }

  .image-zoom img {
    @apply object-cover object-top transform scale-150; /* Ajusta el valor de scale para hacer más o menos zoom */
  }
}
